@{
    ViewBag.Title = "Home Care";
}
<head>
    <link href="~/CSSsheet.css" rel="stylesheet" />

</head>
<body>
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
    <div>
        <button id="but1"
                OnServerClick="onserverclickhandler"
                runat="server">
            buttontext, image, or control
        </button>
    </div>
</body>


