@using System.Web.Mvc.Html
@{
    ViewBag.Title = "Home Care";
}
<h1> </h1>
<div class="jumbotron">
    <h1>Home Care</h1>
    <form>
        E-mail:<br>
        <input type="text" name="E-mail"><br>
        Password:<br>
        <input type="text" name="lastname">
        <br/>
       <button type ="button" onclick="window.location.href='/Home/About'">Login</button>
        @Html.ActionLink(" ", "About")
    </form> 

</div>
