@{
    ViewBag.Title = "Home Care";
}
<h1> </h1>
<div class="jumbotron">
    <h1>Home Care</h1>
    <form>
        First name:<br>
        <input type="text" name="E-mail"><br>
        Last name:<br>
        <input type="text" name="lastname">
       <br/>
        <button type ="button" name="Login" onclick="window.location.href='/Home/About'">Login</button>

    </form> 

</div>
