@{
    ViewBag.Title = "Home Care";
}
<h1>hello </h1>
<div class="jumbotron">
    <h1>Home Care</h1>
    <form>
        First name:<br>
        <input type="text" name="E-mail"><br>
        Last name:<br>
        <input type="text" name="lastname">
    </form>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Login &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Albertslund HomeCare </h2>
        <p>
            Velkommen til Home Care
            fuck dig. 
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
  
</div>