@{
    ViewBag.Title = "Home Care";
}
<h1>hello </h1>
<div class="jumbotron">
    <h1>Home Care</h1>
    <form>
        First name:<br>
        <input type="text" name="E-mail"><br>
        Last name:<br>
        <input type="text" name="lastname">
       <br/>
        <button type ="button" name="Login" onserverclick="location.ref='@Url.Action("About")'">Login</button>

    </form> 

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Albertslund HomeCare </h2>
        <p>
            Velkommen til Home Care
            fuck dig. 
        </p>
        <p><a class="btn btn-default" href="About.cshtml">Learn more &raquo;</a></p>
    </div>
  
</div>